@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



h2 {
    font-size: 40px;
}

ul {
    list-style: none;
}

header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-between;
    align-self: start;
    position: sticky;
    top: 0;
    z-index: 4;
    
    
}

.header__nav {

    text-align: end;
    padding-right: 1rem;
}



.header__nav ul li {
    margin-left: 2rem;
    display: inline-block;
   
}

.header__nav ul li a {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.header__nav ul li a:hover {
    color: rgb(48, 157, 190);
    text-decoration: underline;
}

.header__logo {
    padding: 20px;
}

.hero {
    grid-area: hero;
    background-image: url("../img/dentista1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 16rem 4rem;
    
}




.hero__btn {
    background-color: #1db144;
    border: none;
}

.leyenda {
    grid-area: leyenda;
    background-color: white;
    padding:40px 60px;
    text-align: center;
}

.leyenda__icono {
    padding-bottom: 2rem;
}

.leyenda__text {
    font-size: 20px;
}

.bannerArea {
    background-color: #1e83d6;
    text-align: center;
    padding: 80px 0;
}

.bannerArea h1 {
    color: white;
}

.bannerArea a{
    text-decoration: none;
    color: white;
}

.bannerArea a:hover {
    opacity: 90%;
}

.equipoArea {
    padding: 50px 0;
}

.equipoArea article {
    background-color: #1e83d6;
}

.bannerContainer {
    background:url(/mi_pagina/img/dentista-paciente.jpg) no-repeat center center / cover;
    padding: 5rem 0;
    position: relative;
}

.bannerContainer::before {
    background: rgba(0, 0, 0, 0.46);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.banner-cta {
    position: relative;
    z-index: 1;
    text-align: center;
}

.banner-cta-text {
    padding: 0 20rem;
}

.services {
   
    width: auto;
    position: relative;
    padding: 4em 3em;
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #1e83d6;
}

.services .serviceBox {
    position: relative;
    width: 350px;
    height: 280px;
    background: #51446e;
    border-radius: 20px;
    overflow: hidden;
}


.services .serviceBox .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--i);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition-delay: 0.10s;
}

.services .serviceBox:hover .icon {
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition-delay: 0s;
    
}

.services .serviceBox .icon i{
    font-size: 5em;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    transition-delay: 0.10s;
    
}

.services .serviceBox:hover .icon i {
    font-size: 2em;
    transition-delay: 0s;
}



.services .serviceBox .serviceBox_content {
    position: relative;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.services .serviceBox:hover .serviceBox_content {
    transform: scale(0.9);
    transition-delay: 0.10s;
}

.services .serviceBox .serviceBox_content h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.services .serviceBox .serviceBox_content p {
    font-weight: 300;
    line-height: 1.5em;
}

.services .serviceBox .serviceBox_content a {
    text-decoration: none;
    color: aqua;
    
}

.c2a {
    grid-area: call;
    background-color:white;
    padding: 3rem;
    display: grid;
    grid-template-columns: 3fr auto 3fr;
   
    
}

.c2a__container {
    padding: 5rem;
    font-size: 17px;
    display: flex;
    
}

.c2a__float {
    position: relative;
    left: 14rem;
    top: 10rem;

}

.c2a__container p {
    background-color: aqua;
    width:430px;
    height: 273.05px;

}

footer {
    
    background-color: #1e83d6;
    padding-bottom: 5rem;
    
}


.footer__logo {
    padding-bottom: 1rem;
}

.footer__clm2, .footer__clm3, .footer__clm4 {
    margin-top:  1rem; 
}

footer h3 {
    color: white;
    font-size: 25px;
    padding-bottom: 1rem;
}

.siteMap ul li a{
    text-decoration: none;
    color: white;
}


.footer__clm2 ul {
    line-height: 3rem;
}

.copyright {
    text-align: center;
}



/*------------------
Responsive Grid Media Queries - 1280, 1024, 768, 480
    1280 - 1024     - Desktop (default grid)
    1024 - 768      - Tablet Landscape
    768 - 480       - Tablet
    480 - less      - Phone landscape & smaller
--------------------*/


/*Vista Mobile*/

